<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReacTOR</title>
    <link rel="shortcut icon" href="../images/reactor.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <div id="foglayer_01" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_02" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_03" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <section class="section">
      <div class="container">
        <div class="log-box">
          <img class="log-img" src="../images/user-log.png" alt="user" />
          <a class="log-out" href="../partials/login.html">Вийти</a>
        </div>
        <a class="nav-button-prev" href="./user.html">Pre</a>
        <a class="nav-button-next" href="./technologies.html">Next</a>
        <a class="nav-button-home" href="../index.html">Home</a>
        <div class="problem-wrapp">
          <div class="our-problem">
            <ul class="problem-list">
              <li class="problem-item" style="--clr: #00ade1">
                <a class="problem-link" href="#" data-text="&nbsp;швидкодія"
                  >&nbsp;швидкодія&nbsp;</a
                >
                  <li class="problem-item" style="--clr: #ffdd1c">
                <a class="problem-link" href="#" data-text="&nbsp;адаптивність"
                  >&nbsp;адаптивність&nbsp;</a
                >
              </li>
              <li class="problem-item" style="--clr: #ff6492">
                <a class="problem-link" href="#" data-text="&nbsp;логінізація"
                  >&nbsp;логінізація&nbsp;</a
                >
              </li>
              </li>
              <li class="problem-item" style="--clr: #00dc82">
                <a class="problem-link" href="#" data-text="&nbsp;клієнтоорієнтованість"
                  >&nbsp;клієнтоорієнтованість&nbsp;</a
                >
              </li>
              <li class="problem-item" style="--clr: #dc00d4">
                <a class="problem-link" href="#" data-text="&nbsp;темізація"
                  >&nbsp;темізація&nbsp;</a
                >
              </li>
              <li class="problem-item" style="--clr: #dc88d4">
                <a class="problem-link" href="#" data-text="&nbsp;мультимовність"
                  >&nbsp;мультимовність&nbsp;</a
                >
              </li>
            </ul>
          </div>
          <div class="mobile-wrapper">
            <img
              class="image-mobile"
              src="../images/phone-cropped.svg"
              alt="phone"
              width="310"
            />
            <iframe
              src="https://books-reading-reactor.netlify.app/"
              class="mobile"
            ></iframe>
          </div>
        </div>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
      </div>
    </section>
  </body>
</html>
