<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReacTOR</title>
    <link rel="shortcut icon" href="../images/reactor.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;800;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <div id="foglayer_01" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_02" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_03" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <section class="section">
      <div class="container">
        <div class="log-box">
          <img class="log-img" src="../images/user-log.png" alt="user" />
          <a class="log-out" href="../partials/login.html">Вийти</a>
        </div>
        <a class="nav-button-prev" href="./team1.html">Pre</a>
        <a class="nav-button-next" href="./thanks.html">Next</a>
        <a class="nav-button-home" href="../index.html">Home</a>
        <div class="container-team">
          <div class="card">
            <div class="face face1">
              <div class="content">
                <div class="log-wrapp-min">
                  <div class="dark-wrapp-min">
                    <p class="dark-text-min">REACT</p>
                  </div>
                  <div class="light-wrapp-min">
                    <p class="light-text-min">OR</p>
                  </div>
                </div>
                <img
                  src="../images/react.png"
                  class="team-card"
                  width="80"
                  height="80"
                />
                <h3>Максим Коворотний</h3>
                <p>Developer</p>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <a class="team-link" href="#"
                  ><img
                    src="../images/MaxK.jpg"
                    class="team-card"
                    width="200"
                    height="300"
                /></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <div class="content">
                <div class="log-wrapp-min">
                  <div class="dark-wrapp-min">
                    <p class="dark-text-min">REACT</p>
                  </div>
                  <div class="light-wrapp-min">
                    <p class="light-text-min">OR</p>
                  </div>
                </div>
                <img
                  src="../images/react.png"
                  class="team-card"
                  width="80"
                  height="80"
                />
                <h3>Владислав Марущак</h3>
                <p>Developer</p>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <a class="team-link" href="#"
                  ><img
                    src="../images/Maruv.jpg"
                    class="team-card"
                    width="200"
                    height="300"
                /></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <div class="content">
                <div class="log-wrapp-min">
                  <div class="dark-wrapp-min">
                    <p class="dark-text-min">REACT</p>
                  </div>
                  <div class="light-wrapp-min">
                    <p class="light-text-min">OR</p>
                  </div>
                </div>
                <img
                  src="../images/react.png"
                  class="team-card"
                  width="80"
                  height="80"
                />
                <h3>Іванна Нагорнюк</h3>
                <p>Developer</p>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <a class="team-link" href="#"
                  ><img
                    src="../images/Ivanka.jpg"
                    class="team-card"
                    width="200"
                    height="300"
                /></a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="face face1">
              <div class="content">
                <div class="log-wrapp-min">
                  <div class="dark-wrapp-min">
                    <p class="dark-text-min">REACT</p>
                  </div>
                  <div class="light-wrapp-min">
                    <p class="light-text-min">OR</p>
                  </div>
                </div>
                <img
                  src="../images/react.png"
                  class="team-card"
                  width="80"
                  height="80"
                />
                <h3>Олександр Соловйов</h3>
                <p>Developer</p>
              </div>
            </div>
            <div class="face face2">
              <div class="content">
                <a class="team-link" href="#"
                  ><img
                    src="../images/OlSol.jpg"
                    class="team-card"
                    width="200"
                    height="300"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
      </div>
    </section>
  </body>
</html>
