<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReacTOR</title>
    <link rel="shortcut icon" href="../images/reactor.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@1200&family=Roboto:wght@400;1200;1200;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <div id="foglayer_01" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_02" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_03" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <section class="section">
      <div class="container">
        <div class="log-box">
          <img class="log-img" src="../images/user-log.png" alt="user" />
          <a class="log-out" href="../partials/login.html">Вийти</a>
        </div>

        <a class="nav-button-prev" href="./problem.html">Pre</a>
        <a class="nav-button-next" href="./team1.html">Next</a>
        <a class="nav-button-home" href="../index.html">Home</a>
        <div class="tech-wrapp">
          <div class="icons">
            <img
              src="../images/javascript.svg"
              alt=""
              id="javascript"
              class="icon"
              width="120px"
            />
            <img
              src="../images/reactt.svg"
              alt=""
              id="react"
              class="icon"
              width="120px"
            />
            <img
              src="../images/redux.svg"
              alt=""
              id="redux"
              class="icon"
              width="120px"
            />
            <img
              src="../images/git.svg"
              alt=""
              id="git"
              class="icon"
              width="120px"
            />
            <img
              src="../images/api.svg"
              alt=""
              id="api"
              class="icon"
              width="120px"
            />
            <img
              src="../images/axios.svg"
              alt=""
              id="axios"
              class="icon"
              width="120px"
            />
            <img
              src="../images/css.svg"
              alt=""
              id="css"
              class="icon"
              width="120px"
            />
            <img
              src="../images/figma.svg"
              alt=""
              id="figma"
              class="icon"
              width="120px"
            />
            <img
              src="../images/node-js.svg"
              alt=""
              id="node-js"
              class="icon"
              width="120px"
            />
            <img
              src="../images/github.svg"
              alt=""
              id="github"
              class="icon"
              width="120px"
            />

            <img
              src="../images/html.svg"
              alt=""
              id="html"
              class="icon"
              width="120px"
            />

            <img
              src="../images/webpack.svg"
              alt=""
              id="webpack"
              class="icon"
              width="120px"
            />
            <img
              src="../images/sass.svg"
              alt=""
              id="sass"
              class="icon"
              width="120px"
            />
            <img
              src="../images/vscode.svg"
              alt=""
              id="vscode"
              class="icon"
              width="120px"
            />
            <img
              src="../images/formik.png"
              alt=""
              id="formik"
              class="icon"
              width="120px"
            />
            <img
              src="../images/chartjs.svg"
              alt=""
              id="chartjs"
              class="icon"
              width="120px"
            />
            <img
              src="../images/ant.png"
              alt=""
              id="ant"
              class="icon"
              width="120px"
            />
            <img
              src="../images/netlify.svg"
              alt=""
              id="netlify"
              class="icon"
              width="120px"
            />
            <img
              src="../images/material.svg"
              alt=""
              id="material"
              class="icon"
              width="120px"
            />
            <img
              src="../images/babel.png"
              alt=""
              id="babel"
              class="icon"
              width="120px"
            />
          </div>
        </div>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
      </div>
    </section>
  </body>
</html>
