<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReacTOR</title>
    <link rel="shortcut icon" href="../images/reactor.png" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <div id="foglayer_01" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_02" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_03" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <section class="section">
      <div class="container">
        <div class="log-box">
          <img class="log-img" src="../images/user-log.png" alt="user" />
          <a class="log-out" href="../partials/login.html">Вийти</a>
        </div>
        <a class="nav-button-prev" href="./team2.html">Pre</a>
        <a class="nav-button-next" href="../index.html">Home</a>
        <div class="post-wrapp">
          <img class="post-img" src="../images/kob.png" alt="Kobzar" />
          <div class="post-box">
            <p class="post-text">
              І на оновленій землі врага не буде, супостата, а буде син, і буде
              мати,<br />
              і будуть люде на землі.
            </p>
            <p class="post-autor">Т.Г.Шевченко</p>
          </div>
        </div>
        <h2 class="thanks-title">
          <span class="thanks-text">ДЯКУЄМО</span
          ><span class="thanks-text">ЗА УВАГУ!</span>
        </h2>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
        <span class="rain"></span>
      </div>
    </section>
  </body>
</html>
